.centered {
    margin: 0 auto;
    float: none;
}

.panel{
    height:150px;
    }

.success-panel {
  background-color: #75f0a9;
  border-color: #008000;
}

.failure-panel {
  background-color: #FF6666;
  border-color: #8B0000;
}
